body {
    background-color: #000000;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: white;
}

#map {
    width:100%;
    height:82vh;
}

#dropdown {
    top: 5em;
    left: 10em;
}